body {background-color: #FFFFFF}

div.topcorner {position: absolute; top: 0px; height: 17%; padding: 0;
	left: 0; right: 80%}

div.banner {position: absolute; top: 0px; height: 17%; padding: 0;
	left: 20%; right: 0}

div.menu {position: absolute; top: 17%; bottom: 0;
	left: 0; right: 80%;
	padding:20px; overflow: auto}

div.page {position: absolute; top: 17%; bottom: 0;
	left: 20%; right: 0;
	padding:20px; overflow: auto}

div.topcorner {background-color: #000000}
div.banner {background-color: #ffa500; color: #380474;
	font-size: xx-large; font-family: "arial"; font-weight: bolder;
	text-align: center}
div.banner span.bannertext {text-align: center; line-height: 165%}
div.banner img {left: 0}

div.menu {background-color:#C0C0C0; color:#4B0082}
div.menu {font-family:arial; font-size:large; font-weight:bold}
div.menu a:link {color: #4B0082}
div.menu a:visited {color: #4B0082}
div.menu a:hover {color: #00ff7f}
div.menu a {text-decoration: none}

div.menu p.cursect {color: #000000}
div.menu p.version  {color: #660000}

li {margin-bottom: 5px}
body#glossary li {margin-bottom: 10px}
body#contents li {margin-top:5px; margin-bottom:5px}
.contents {color:#000080; font-family:arial; font-weight:bolder; font-size:120%}

.softname {color:#008080; font-family:arial; font-weight:bolder}
.pathname {color:#800080; font-family:arial; font-weight:bolder}
.cfgtitle {color:#0000ff; font-family:arial; font-weight:bolder}
.cfgname {color:#0000ff; font-family:arial}
.cfgvalue {color:#0000cc; font-family:arial}
.compcode {color:#660066; font-family:courier; font-weight:bolder}
/*Superceded by &sect;  .sectref {color:#800000; font-weight:bolder} */

.warning {color:#B22222; font-weight:bolder}
hr.warning {color:#B22222; background-color:#B22222; height:5px; width:75%}

.vt220 {color:#00ff00; background-color:#000000; font-family:courier; font-weight:bolder; font-size:105%; padding:10px}

.chtitle {background-color:#C0C0C0;
	font-family:arial; font-weight:bolder; font-size:180%;
	margin-left:auto; margin-right:auto; padding:10px}
.subtitle {background-color:#D0D0D0;
	font-family:arial; font-weight:bolder; font-size:150%;
	margin-left:0; margin-right:auto; padding:10px}

.cfgbox {background-color:#00ffff; color:#000000; font-family:courier; font-weight:bolder; font-size:120%; padding-left:30px; padding-right:30px}

.protocmd {color:#A52A2A; font-family:arial; font-weight:bolder}
.protobox {background-color:#00ff00; color:#A52A2A; font-family:courier; font-weight:900; font-size:120%; padding-left:30px; padding-right:30px}

.logbox {background-color:#000000; color:#ffffff; font-family:courier; font-weight:bolder; font-size:120%; padding-left:30px; padding-right:30px}
.loghilite {background-color:#000000; color:#ff0000; font-family:courier; font-weight:bolder; padding-left:30px; padding-right:30px}

.faqq {font-family:arial; font-weight:bolder}
